[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
drf-nested-routers = "*"
install = "*"

[dev-packages]

[requires]
python_version = "3.8"
